body {
    font-family: "Noto Sans JP";
}

@media(max-width: 990px) {
    body {
        padding: 100px;
    }
}

#navbar {
    height: 100px;
}

@media (min-width: 990px) {
    #navbar {
        position: fixed;
        min-height: 100%;
        top: 0;
        left: 0;
        width: 170px;
    }
}

#navar-brand {
    position: fixed;
    top: 30px;
    left: 30px
}